cmake==3.30.2
docker==7.1.0
einops==0.8.0
huggingface-hub==0.26.2
matplotlib==3.9.2
ninja==1.11.1.1
numpy==1.26.4
packaging==24.1
pandas==2.2.3
prettytable==3.11.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tensorrt-libs==8.6.1
tensorrt_llm==0.15.0
transformers==4.47.0
flash-attn==2.7.0.post2
sympy==1.12.1